@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');


:root {
	font-size: 125%;
	--padding: 1rem;
	--dropshadow: 0.2rem 0.2rem 0.3rem 0.1rem #29292953;
}

body {
	background-image: url("paper.jpg");
	background-size: cover;
}

h1 {
	font-family: "Great Vibes", cursive;
	font-weight: 400;
	position: fixed;
	font-size: 40vw;
	inset-block-end: -13.5vw;
	inset-inline-end: 1vw;
	filter: blur(0.35rem);
	color: white;
}

span {
	font-size: 1.2em;
	letter-spacing: -0.03em;
}

/* I wanted to have a break in the header word to push elements in front and behind the text */
/* I reviewed clip paths here: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/clip-path */
/* This is visually cropping the top and bottom halves of the two headers */
.clipped{
  clip-path: inset(21% -10% 0% 0%);
  z-index: 2;
}

.clipped2{
  clip-path: inset(0 -10% 79% 0);
  z-index: -1;
}

#img {
	width: calc(100% - (12 * var(--padding)));
	height: 100%;
	/* background-color: red; */
	z-index: 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	column-gap: var(--padding);
	row-gap: var(--padding);
	margin-inline-end: var(--padding);
	margin-inline-start: calc(11 * var(--padding));
	padding-block-start: calc(2 * var(--padding));
	padding-block-end: 10rem;
}

.polaroid, .blank, .document {
	width: 100%;
	aspect-ratio: 2.8 / 4;
	height: auto;
	/* background-color: green; */
}

.polaroid {
	position: relative;
	box-shadow: var(--dropshadow);
	background-color: rgb(240, 240, 233);
}

.polaroidimg, .polaroidcover {
	position: absolute;
	inset-block-start: calc(var(--padding)/2);
	inset-inline-start: calc(var(--padding)/2);
	width: calc(100% - var(--padding));
	height: 80%;
}

.polaroidcover {
	box-shadow: inset 0 0 1rem 0.7rem #292929cf;
	z-index: 1;
	mix-blend-mode: hard-light;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: auto;   /* stop forcing square */
  display: block;
  overflow: hidden;
  position: absolute;
  object-position: top center; 
}

.text {
	color: black;
	width: 100%;
	padding: var(--padding);
	transform: rotate(3deg);
	align-self: start;
	margin-block-start: calc(2 * var(--padding));
	box-shadow: var(--dropshadow);

	background: #fff5d9;
	background: linear-gradient(0deg, rgb(252, 239, 204) 0%, rgba(255, 244, 176, 1) 100%);
}

.text p {
	font-family: "Mr Dafoe", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 1.5rem;
}

/* ADD ATTRIBUTION HERE */

.document {
	transform: rotate(-1deg);

  -webkit-mask-image: url("torn-mask.svg");
  -webkit-mask-size: cover;
  -webkit-mask-repeat: no-repeat;

  mask-image: url("torn-mask.svg");
  mask-size: cover;
  mask-repeat: no-repeat;
  background-color: white;
  box-shadow: var(--dropshadow);
}

header {
	padding: var(--padding);
	padding-block-start: calc(1.5 * var(--padding));
	width: calc(10 * var(--padding));
	position: fixed;
	height: 100%;
	display: flex;
	flex-direction: column;
	row-gap: var(--padding);
	border-inline-end-width: calc(var(--padding) / 4);
	border-inline-end-style: double;
	border-inline-end-color: rgba(234, 104, 104, 0.699);
	mix-blend-mode: multiply;
}

header h2 {
	text-align: center;
}

.nav {
	display: flex;
	justify-content: space-between;
}

.palette {
	width: 100%;
	height: 3rem;
}

.palette1 {
	background-color: #ECE6E8;
}

.palette2 {
	background-color: #D3B7A9;
}

.palette3 {
	background-color: #B07964;
}

.palette4 {
	background-color: #A25C38;
}

.palette5 {
	background-color: #6C4444;
}

.palette6 {
	background-color: #3E1815;
}
