@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	font-size: 125%;
	--padding: 1rem;
}

h1 {

	font-family: "Great Vibes", cursive;
	font-weight: 400;
	position: fixed;
	font-size: 40vw;
	inset-block-end: -13.5vw;
	inset-inline-end: 1vw;
}

span {
	font-size: 1.2em;
}

/* I wanted to have a break in the header word to push elements in front and behind the text */
/* I reviewed clip paths here: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/clip-path */
/* This is visually cropping the top and bottom halves of the two headers */
.clipped{
  clip-path: inset(21% -10% 0% 0%);
  color: blue;
  z-index: 1;
}

.clipped2{
  clip-path: inset(0 -10% 79% 0);
  color: blue;
  z-index: -1;
}

#img {
	width: calc(100% - (12 * var(--padding)));
	height: 100%;
	/* background-color: red; */
	z-index: 0;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	column-gap: var(--padding);
	row-gap: var(--padding);
	margin-inline-end: var(--padding);
	margin-inline-start: calc(11 * var(--padding));
	padding-block-start: var(--padding);
}

.polaroid, .blank {
	width: 100%;
	background-color: green;
	height: 200px;
}

header {
	padding: var(--padding);
	background-color: red;
	width: calc(10 * var(--padding));
	position: fixed;
	margin-block-start: var(--padding);
	margin-block-end: var(--padding);
	height: calc(100% - var(--padding));
	display: flex;
	flex-direction: column;
	row-gap: var(--padding);
}

header h2 {
	text-align: center;
}

.nav {
	display: flex;
	justify-content: space-between;
}

.palette {
	width: 100%;
	height: 3rem;
	background-color: black;
}
