@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');


:root {
	font-size: 125%;
	--padding: 1rem;
	--dropshadow: 0.1rem 0.15rem 0.2rem 0.03rem #2929293d;
	--white: #F5F2ED;
	--transition: transition: 300ms ease-in-out;
}

body::before{

	content:"";
	position: fixed;
	inset: 0;
	background-image: url("paper.jpg");
	background-size: cover;
	background-position: center;
	z-index: -10;
	opacity: 80%;
}

h1 {
	font-size: 40vw;
	inset-block-end: -13.5vw;
	inset-inline-end: 1vw;
	filter: blur(0.9rem);
	color: rgb(41, 41, 41);
	font-family: "Great Vibes", cursive;
	font-weight: 400;
	position: fixed;
	mix-blend-mode: color-burn;
}

span {
	font-size: 1.2em;
	letter-spacing: -0.03em;
}

/* I wanted to have a break in the header word to push elements in front and behind the text */
/* I reviewed clip paths here: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/clip-path */
/* This is visually cropping the top and bottom halves of the two headers */
.clipped{
	clip-path: inset(21% -10% 0% 0%);
	z-index: 2;
}

.clipped2{
	clip-path: inset(0 -10% 79% 0);
	z-index: -1;
}

#content {
	width: calc(100% - (12 * var(--padding)));
	height: 100%;
	z-index: 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	column-gap: var(--padding);
	row-gap: var(--padding);
	margin-inline: var(--padding);
	padding-block-start: calc(2 * var(--padding));
	padding-block-end: 10rem;
}

.polaroid, .blank, .document {
	width: 100%;
	aspect-ratio: 2.8 / 4;
	height: auto;
}

.blank {
	display: none;
}

.polaroid {
	position: relative;
	box-shadow: var(--dropshadow);
	background-color: rgb(234, 234, 231);
}

.polaroidimg, .polaroidcover {
	position: absolute;
	inset-block-start: calc(var(--padding)/2);
	inset-inline-start: calc(var(--padding)/2);
	width: calc(100% - var(--padding));
	height: 80%;
}

.polaroidcover {
	z-index: 1;
	mix-blend-mode: lighten;
	opacity: 40%;
}

.play-icon {
	position: absolute;
	inset: 0;
	inset-block-end: 3rem;
	margin: auto;
	width: 28%;
	height: auto;
	z-index: 4;
	pointer-events: none;
	color: var(--white);
	transition: var(--transition);
}

.play-icon path {
	fill: currentColor;
}

.polaroid.withvideo:hover .play-icon {
	scale: 1.2;
	transform: rotate(-4deg);
	transition: var(--transition);
}

img, picture {
	width: 100%;
	height: 100%;
	object-fit: cover;
	aspect-ratio: auto;
	display: block;
	overflow: hidden;
	position: absolute;
	object-position: top center; 
}

.text {
	color: black;
	width: 100%;
	padding: var(--padding);
	align-self: start;
	margin-block-start: calc(2 * var(--padding));
	box-shadow: var(--dropshadow);
	background: #fff5d9;
	background: linear-gradient(0deg, rgb(252, 239, 204) 0%, rgba(255, 244, 176, 1) 100%);
	position: relative;
	overflow: hidden;
}

/* ADD ATTRIBUTION HERE */
.text::after, .document::after{
  content:"";
  position:absolute;
  inset:0;
  background-image: url("paper-grain.jpg");
  background-size: cover;
  background-repeat: repeat;
  pointer-events:none;
  mix-blend-mode: multiply;
  opacity: 0.5;
  filter: contrast(140%) brightness(105%);
}

p {
	font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
	font-size: 0.9rem;
	line-height: 1.9rem;
}

.nav p {
	text-align: center;

}

/* I wanted to use an svg file as a mask to make my PDF files look torn */
/* I used a LLM to learn about the webkit mask-image property, and read more here: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/mask-image */
/* This works because the image is set to cover the entire svg, regardless of size, making it a responsive mask setup */

.document{
	-webkit-mask-image: url("torn-mask.svg");
	-webkit-mask-size: cover;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	mask-image: url("torn-mask.svg");
	mask-size: cover;
	mask-repeat: no-repeat;
	mask-position: center;
	position: relative;
	background-color: white;
	box-shadow: var(--dropshadow);
	position: relative;
	overflow: hidden;
}

.document img, .document picture {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top center;
	transform: scale(0.93);
	transform-origin: bottom center;
}

header {
	padding: var(--padding);
	padding-block-start: calc(1.5 * var(--padding));
	width: calc(10 * var(--padding));
	position: fixed;
	height: 100%;
	display: none;
	flex-direction: column;
	row-gap: var(--padding);
	border-inline-end-width: calc(var(--padding) / 4);
	border-inline-end-style: double;
	border-inline-end-color: rgba(234, 104, 104, 0.699);
	mix-blend-mode: multiply;
}

.palette {
	width: 100%;
	height: 3rem;
}

svg.palette1 { color:#ECE6E8; }
svg.palette2 { color:#D3B7A9; }
svg.palette3 { color:#B07964; }
svg.palette4 { color:#A25C38; }
svg.palette5 { color:#6C4444; }
svg.palette6 { color:#3E1815; }

@media (width > 860px) {
	.blank {
	display: block;
	}
}

@media (width > 415px) {
	header {
	display: flex;
	}

#content {
	margin-inline-start: calc(11 * var(--padding));
	}
}

