@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');


:root {
	font-size: 125%;
	--padding: 1rem;
	--dropshadow: 0.1rem 0.15rem 0.2rem #2929293d;
	--dropshadow2: 0.25rem 0.25rem 0.6rem #2929296a;
	--dropshadow3: 0.35rem 0.35rem 0.9rem #2929296a;
	--white: #F5F2ED;
	--transition: transition: 300ms ease-in-out;
}

body::before{

	content:"";
	position: fixed;
	inset: 0;
	background-image: url("paper.jpg");
	background-size: cover;
	background-position: center;
	z-index: -1;
	opacity: 80%;
}

h1 {
	font-size: 40vw;
	inset-block-end: -13.5vw;
	inset-inline-end: 1vw;
	filter: blur(0.9rem);
	color: rgb(41, 41, 41);
	font-family: "Great Vibes", cursive;
	font-weight: 400;
	position: fixed;
	mix-blend-mode: color-burn;
}

span {
	font-size: 1.2em;
	letter-spacing: -0.03em;
}

.linework {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  mix-blend-mode: multiply;
  /* overflow: hidden; */
}

/* Full-width, scale with viewport */
.linework svg {
  position: absolute;
  inline-size: 100%;
  display: block;
  inset-block-end: 60vh;
}

/* I wanted to have a break in the header word to push elements in front and behind the text */
/* I reviewed clip paths here: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/clip-path */
/* This is visually cropping the top and bottom halves of the two headers */
.clipped{
	clip-path: inset(21% -10% 0% 0%);
	z-index: 2;
}

.clipped2{
	clip-path: inset(0 -10% 79% 0);
	z-index: -1;
}

#content {
	inline-size: calc(100% - (8 * var(--padding)));
	block-size: 100%;
	z-index: 1;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	column-gap: var(--padding);
	row-gap: var(--padding);
	margin-inline: calc(4* var(--padding));
	padding-block-start: calc(2 * var(--padding));
	padding-block-end: 10rem;
}

.polaroid, .blank, .document, .placeholder {
	inline-size: 100%;
	aspect-ratio: 2.8 / 4;
	block-size: auto;
}

.blank {
	display: none;
}

.placeholder {
	background-color: red;
	display: none;
}

.placeholder-active {
	display: block;
}

.polaroid {
	position: relative;
	box-shadow: var(--dropshadow);
	background-color: rgb(234, 234, 231);
	transition: var(--transition);
	rotate: calc(calc(var(--rotation) * 1deg));
}

.polaroid:hover, .text:hover {
	box-shadow: var(--dropshadow2);
	transition: var(--transition);
}

.polaroidimg, .polaroidcover {
	position: absolute;
	inset-block-start: calc(var(--padding)/2);
	inset-inline-start: calc(var(--padding)/2);
	inline-size: calc(100% - var(--padding));
	block-size: 80%;
}

.polaroidcover {
	z-index: 1;
	mix-blend-mode: lighten;
	opacity: 40%;
}

.play {
	position: absolute;
	inset: 0;
	inset-block-end: 3rem;
	margin: auto;
	inline-size: 28%;
	block-size: auto;
	z-index: 4;
	pointer-events: none;
	color: var(--white);
	transition: var(--transition);
}

.play path {
	fill: currentColor;
}

.polaroid.withvideo:hover .play {
	scale: 1.2;
	transform: rotate(-4deg);
	transition: var(--transition);
}

img, picture {
	inline-size: 100%;
	block-size: 100%;
	object-fit: cover;
	aspect-ratio: auto;
	display: block;
	overflow: hidden;
	position: absolute;
	object-position: top center; 
}

.text {
	color: black;
	inline-size: calc(100% - (2 * var(--padding)));
	padding: var(--padding);
	align-self: start;
	margin-block-start: calc(2 * var(--padding));
	box-shadow: var(--dropshadow);
	background: #fff5d9;
	background: linear-gradient(0deg, rgb(252, 239, 204) 0%, rgba(255, 244, 176, 1) 100%);
	position: relative;
	overflow: hidden;
	transition: var(--transition);
	rotate: calc(calc(var(--rotation) * 1deg));
	margin-inline: var(--padding);
}

.text::after, .document::after{
	content:"";
	position:absolute;
	inset:0;
	background-image: url("paper-grain.jpg");
	background-size: cover;
	background-repeat: repeat;
	pointer-events:none;
	mix-blend-mode: multiply;
	opacity: 0.5;
	filter: contrast(140%) brightness(105%);
}

p {
	font-family: "Rock Salt", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 0.9rem;
	line-height: 1.9rem;
}

.nav p {
	text-align: center;
}

.hamburger {
	position: fixed;
	inset-block-start: calc(var(--padding) /2);
	inset-inline-start: calc(var(--padding) /2);
	scale: 50%;
	z-index: 500;
	display: block;
}

/* I wanted to use an svg file as a mask to make my PDF files look torn */
/* I used a LLM to learn about the webkit mask-image property, and read more here: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/mask-image */
/* This works because the image is set to cover the entire svg, regardless of size, making it a responsive mask setup */

.document-shadow{
	filter: drop-shadow(var(--dropshadow));
	display: inline-block;
	transform: rotate(calc(var(--rotation) * 1deg));
	transition: var(--transition)
}

.document-shadow:hover {
	transition: var(--transition);
	filter: drop-shadow(var(--dropshadow2));
}

.document{
	-webkit-mask-image: url("torn-mask.svg");
	-webkit-mask-size: cover;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	mask-image: url("torn-mask.svg");
	mask-size: cover;
	mask-repeat: no-repeat;
	mask-position: center;
	position: relative;
	background: white;
	overflow: hidden;
}

.document img, .document picture {
	position: absolute;
	inset: 0;
	inline-size: 100%;
	block-size: 100%;
	object-fit: cover;
	object-position: top center;
	transform: scale(0.93);
	transform-origin: bottom center;
}

header {
	padding: var(--padding);
	padding-block-start: calc(1.5 * var(--padding));
	inline-size: calc(10 * var(--padding));
	position: fixed;
	block-size: 100%;
	display: none;
	flex-direction: column;
	row-gap: var(--padding);
	border-inline-end-width: calc(var(--padding) / 4);
	border-inline-end-style: double;
	border-inline-end-color: rgba(234, 104, 104, 0.699);
	mix-blend-mode: multiply;
	z-index: 1;
}

.palette {
	inline-size: 100%;
	block-size: 3rem;
}

.open {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	aspect-ratio: 2.8 / 4;
	z-index: 2000;
	box-shadow: var(--dropshadow3);
	transition: var(--transition);
	max-height: calc(100vh - (4 * var(--padding)));
	height: auto;

/* I wanted to make sure the image would responsively resize for any viewport width or height while still maintaining the same aspect aspect-ratio */
/* I found the min () CSS function on MDN, which allows me to compute the largest width that fits within the available viewport: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/min */
/* Here we are limiting the size of the image to respect the existing design system padding while allowing it to resize to the viewport accordingly */

	width: min(calc(100vw - (4 * var(--padding))),
	calc((100vh - (4 * var(--padding))) * (2.8 / 4)));
}

svg.palette1 { color:#2121DB; }
svg.palette2 { color:#FC7F5F; }
svg.palette3 { color:#F2C478; }
svg.palette4 { color:#87C9AE; }
svg.palette5 { color:#70838F; }
svg.palette6 { color:#8BA48D; }

@media (width > 860px) {
	.blank {
	display: block;
	}
}

@media (width > 600px) {
	header {
	display: flex;
	}

	#content {
	margin-inline-start: calc(11 * var(--padding));
	inline-size: calc(100% - (12 * var(--padding)));
	}

	.hamburger {
		display: none;
	}
}
