@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');


:root {
	font-size: 125%;
	--padding: 1rem;
}

body {
	/* I was looking for an interesting gradient for a background of my index */
	/* Saw this technique for gradient mixing with blend modes on MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Images/Using_gradients */
	/* By layering gradients in opposite directions and using a blend mode, the result is a nice complex blend */

	background:
	linear-gradient(to right, #717171, #191919),
	linear-gradient(to top, rgb(96, 96, 96), rgb(20, 20, 20));
	background-blend-mode: overlay;
}

h1 {
	font-family: "Great Vibes", cursive;
	font-weight: 400;
	position: fixed;
	font-size: 40vw;
	inset-block-end: -13.5vw;
	inset-inline-end: 1vw;
	filter: blur(0.35rem);
	color: white;
}

span {
	font-size: 1.2em;
	letter-spacing: -0.03em;
}

/* I wanted to have a break in the header word to push elements in front and behind the text */
/* I reviewed clip paths here: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/clip-path */
/* This is visually cropping the top and bottom halves of the two headers */
.clipped{
  clip-path: inset(21% -10% 0% 0%);
  z-index: 1;
}

.clipped2{
  clip-path: inset(0 -10% 79% 0);
  z-index: -1;
}

#img {
	width: calc(100% - (12 * var(--padding)));
	height: 100%;
	/* background-color: red; */
	z-index: 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	column-gap: var(--padding);
	row-gap: var(--padding);
	margin-inline-end: var(--padding);
	margin-inline-start: calc(11 * var(--padding));
	padding-block-start: calc(2 * var(--padding));
	padding-block-end: 10rem;
}

.polaroid, .blank, .document {
	width: 100%;
	aspect-ratio: 2.8 / 4;
	height: auto;
	/* background-color: green; */
}

.document {

  

}

.polaroid {
	position: relative;
	box-shadow: 0.3rem 0.3rem 0.4rem 0.2rem #29292953;
	background-color: rgb(240, 240, 233);
}

.polaroidcover {
	position: absolute;
	inset-block-start: calc(var(--padding)/2);
	inset-inline-start: calc(var(--padding)/2);
	box-shadow: inset 0 0 1rem 0.7rem #292929;
	width: calc(100% - var(--padding));
	height: 80%;
}

.text {
	color: white;
	width: 100%;
	background-color: red;
	padding: var(--padding);
	transform: rotate(3deg);
	align-self: start;
	margin-block-start: calc(2 * var(--padding));
}

.text p {
	font-family: "Mr Dafoe", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 1.5rem;
}

/* ADD ATTRIBUTION HERE */

.document {
	transform: rotate(-1deg);

  -webkit-mask-image: url("torn-mask.svg");
  -webkit-mask-size: cover;
  -webkit-mask-repeat: no-repeat;

  mask-image: url("torn-mask.svg");
  mask-size: cover;
  mask-repeat: no-repeat;
  background-color: white;
}

header {
	padding: var(--padding);
	padding-block-start: calc(1.5 * var(--padding));
	background-color: #dddddd4f;
	width: calc(10 * var(--padding));
	position: fixed;
	height: 100%;
	display: flex;
	flex-direction: column;
	row-gap: var(--padding);
	border-inline-end-width: calc(var(--padding) / 4);
	border-inline-end-color: black;
	border-inline-end-style: solid;
}

header h2 {
	text-align: center;
}

.nav {
	display: flex;
	justify-content: space-between;
}

.palette {
	width: 100%;
	height: 3rem;
}

.palette1 {
	background-color: #ECE6E8;
}

.palette2 {
	background-color: #D3B7A9;
}

.palette3 {
	background-color: #B07964;
}

.palette4 {
	background-color: #A25C38;
}

.palette5 {
	background-color: #6C4444;
}

.palette6 {
	background-color: #3E1815;
}
